<div class="aside">
    <!-- Nav Toggler Btn -->
    <div class="nav-toggler">
      <span></span>
    </div>
    <div class="aside-inner">
      <!-- Logo -->
      <div class="logo">
        <img style="    height: 200px;
        width: 200px;
        border-radius: 50%;
        display: inline-block;
        border: 8px solid #ffffff;margin-bottom: -46%;" src="../../../assets/images/yo2.png" alt="profile" class="shadow-dark">
        
      </div>
      <!-- Nav -->
      <ul class="nav">
        @for (item of menuItems; track $index) {
          <li >
            <a [routerLink]="item.path" routerLinkActive="active">
              <i [ngClass]="{'fa fa-home': item.path =='home'}"></i>
              {{item.title}}
            </a>
          </li>
      }
        <!-- <li><a href="#home" class="active"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
        <li><a href="#services"><i class="fa fa-list"></i> Services</a></li>
        <li><a href="#portfolio"><i class="fa fa-briefcase"></i> Portfolio</a></li>
        <li><a href="#blog"><i class="fa fa-envelope"></i> Blog</a></li>
        <li><a href="#contact"><i class="fa fa-comments"></i> Contact</a></li> -->
      </ul>
      <!-- Copyright -->
      <div class="copyright-text">
        &copy; 2020 The WebShala Template
      </div>
    </div>
  </div>